.contenedor_botones_datatable {
    display: flex;
    /* Utiliza flexbox para distribuir los botones de punta a punta */
    justify-content: space-between;


}

.botones_datatable {
    border: none;
    width: 25%;
    height: 2.5rem;
    margin: 0 0 10px 0;
    display: flex;
    font-size: 1rem;
    color: #FFFFFF;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #8EE3EF;
    transition: background-color 0.3s ease;
    border-radius: 4px;

}

.botones_datatable:hover {
    background-color: #254E70;
}